<div class="top-pic">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="pic">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="logo-top-pic">
			<img src="img/logo/hacklogo-big.png">
			<h3 class="text-center">Learn, Collaborate, & Hack!</h3>
			<h3 class="text-center"> November 24-26, 2017</h3>
			<p class="text-center"><a class="btn btn-default" href="join">JOIN US</a></p>
		</div>
	</div>
</div>