<% include partials/head %>
<% include partials/nav %>

<section id="dashboard">
<div class="container">
<h1>HELLO <%= user.displayName %> YOU BEAUTIFUL PERSON</h1>
</div>
</section>

<% include partials/footer %>
<% include partials/scripts %>
