<% include partials/head %>
<% include partials/nav %>

<div class="ticket-intro">
	
	<h1>Your ticket is inclusive of:</h1>
	<ul>
		<li>Food for the event: 2 Breakfast, 2 Lunch, 2 Dinners, Snacks and Drinks.</li>
		<li>Welcome Kit</li>
		<li>Women Who Code T-shirts</l1>
		<li>Conducive space for working, internet and more</li>
		<li>Meeting new people, learning new things, and having a great time!</li>
		<li>Swags</li>
		<li>For Moms: Kiddie Hackathon for your kids (limited slots)</li>
	</ul>

	<br>

	<p>The actual cost of the event per person is approximately <b>US $80 (PhP 4000)</b> but we are trying our best to think of ways to subsidize the cost so that everyone can experience the hackathon. 

	<ul> 
		<li>For our leaders, it's <b>FREE</b>.</li> 
		<li>For our members, it's PhP <b>1250.00</b>.</li>
		<li>For non-members, it's <b>PhP 2500.00</b>.</li>
	</ul>

	If you want to <b>support an attendee or donate for the event</b>, please do. We have created a ticket to support an attendee or donate to the community. If you want to support the event just like our <b><a href="/supporters">supporters</a></b>, you can send us an email at <b>manila@womenwhocode.com</b>. For ladies who can't afford but wants to join, please send us a message at manila@womenwhocode.com. Tell us why you want to join and why you can't afford the ticket. We only have limited slots for this and we would give it to those who really needs it the most.</p>

</div>

<div class="eventbrite">
	<iframe src="//eventbrite.com/tickets-external?eid=37537414417&ref=etckt" frameborder="0" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
</div>

<% include partials/bottom %>
