<% include partials/head %>
<% include partials/nav %>

<div class="supporters" id="supporters">
	<div class="container">
		<h1>Supporters</h1>
		<p>We are very thankful for all the people and companies who have supported our goal in inspiring more women to excel in their tech careers. In our community, we want to always recognize these people who are making a change and difference in the community. Hope this can encourage more people or companies to uphold and ensure that our community and our workplace will be inclusive and diverse.</p>

		<h3 style="font-size: 30px; margin-top:20px;">Do you want to support this event?</h3> 
		<h1 style="font-size: 23px;"  id="support-email">Send us an email at manila@womenwhocode.com.</h1>
	</div>

	<div class="container">
		<h3 style="text-align:center; font-size: 40px;">Platinum Advocate</h3>
		
		<a style="text-align:center;" href="https://atlassian.com"><img style="display: block;
    margin: 0 auto;" src="img/supporters/Atlassian_Logo.svg" width="200px"></a>

		<hr>

		<h3 style="text-align:center; font-size: 40px;">Inspire</h3>
		
		<a href="https://accenture.com"><img style="display: block;
    margin: 0 auto;" src="img/supporters/accenture.png" height="100px"></a>

		<hr>

		<h3 style="text-align:center; font-size: 40px;">Nourish</h3>
		
		<a href="https://zendesk.com"><img style="display: block;
    margin: 0 auto;" src="img/supporters/zendesk-125.png" height="115px"></a>

		<hr>

		<h3 style="text-align:center; font-size: 40px;" id="kiddie">Kiddie Hackathon</h3>
		
		<p style="text-align:center;">in partnership with PowerMac Center</p>
		<a href="http://www.powermaccenter.com"><img style="display: block;
    margin: 0 auto;" src="img/supporters/PMC.jpg" height="150px"></a>
		<hr>
	</div>

	<div class="container">
	    <h3 style="font-size: 40px; margin-bottom: 30px;margin-top: 0px;">Media Partners</h3>
		
		<a href="https://mb.com.ph"><img src="img/supporters/media/mb_logo.jpg" height="80px"></a>

		<hr>
	</div>

	<div class="container">
		<h1 style="text-align:center; font-size: 40px; margin-top:0px; margin-bottom:25px;">Thank you so much for the support!</h1>
	</div>

</div>

<% include partials/bottom %>
