<% include 2021-partials/head %> <% include 2021-partials/navbar %>

<main role="main">
  <% include 2021-partials/banner %>

  <div class="hero">
    <div class="hero-body">
      <div class="columns is-centered">
        <div class="column is-8-desktop is-10-tablet is-12-mobile content">
          <h1 class="title">What is Her 4.0?</h1>
          <p>
            Her 4.0 is back and this year's theme is
            <strong>"Remotely Together"</strong>.
          </p>
          <p>
            We want to help the women in our tech industry to recognize their
            achievements and be confident to own it! We believe it is necessary
            for everyone's growth and professional development to acknowledge
            their success and be not afraid to accept it. We hope that this
            event can help everyone feel more confident about themselves and in
            what they do.
          </p>
          <br />
          <p class="has-text-centered"><% include 2021-partials/rsvp %></p>
        </div>
      </div>
    </div>
  </div>
  <% include 2021-partials/events %> <% include 2021-partials/support %> <%
  include 2021-partials/footer %>
</main>
