<section class="hero banner is-large">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-8-desktop is-10-tablet is-12-mobile"></div>
    </div>
  </div>
</section>
