<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- To make it responsive in mobile devices, do disable scaling add: user-scalable=no -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>WWCodeManila Her 4.0: Remotely Together</title>
    <meta
      name="description"
      content="WWCodeManila Her 4.0: Remotely Together"
    />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="WWCodeManila Her 4.0: Remotely Together" />
    <meta
      itemprop="description"
      content="WWCodeManila Her 4.0: Remotely Together March 31, 2021"
    />

    <meta itemprop="image" content="" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wwcodemanila" />
    <meta
      name="twitter:title"
      content="WWCodeManila Her 4.0: Remotely Together"
    />
    <meta
      name="twitter:description"
      content="WWCodeManila Her 4.0: Remotely Together March 31, 2021"
    />
    <meta name="twitter:creator" content="@wwcodemanila" />
    <meta name="twitter:image" content="" />

    <!-- Open Graph data -->
    <meta
      property="og:title"
      content="WWCodeManila Her 4.0: Remotely Together"
    />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://manila.womenwhocode.com/" />
    <meta property="og:image" content="" />
    <meta
      property="og:description"
      content="WWCodeManila Her 4.0: Remotely Together. November 24, 2018 at Accenture, Philippines, Uptown Mall"
    />

    <meta
      property="og:site_name"
      content="WWCodeManila Her 4.0: Remotely Together"
    />
    <meta property="fb:admins" content="1218432011601153" />

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="/2021/her4point0/styles/index.css"
    />
    <script defer src="/2021/her4point0/index.js"></script>
  </head>
</html>
