<div class="buttons has-text-centered" id="rsvp">
  <a
    href="https://www.meetup.com/Women-Who-Code-Manila/events/276661888/"
    class="button is-medium is-rounded is-primary"
    target="_blank"
    rel="noreferrer noopener"
  >
    RSVP to the Main Event
  </a>

  <a href="#mini-events" class="button is-medium is-rounded is-outlined">
    See Mini Events
  </a>
</div>
