<section class="hero is-light is-medium">
  <div class="hero-body has-text-centered">
    <h1 class="title has-text-primary">Interested to support the event?</h1>
    <h3 class="subtitle">
      Send us an email at
      <a
        class="has-text-primary has-text-weight-bold"
        href="mailto:manila@womenwhocode.com?subject=Supporting Her 4.0"
        >manila@womenwhocode.com</a
      >. Thank you so much.
    </h3>
  </div>
</section>
