@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("/2018/techsummit/fonts/BebasNeue Regular.otf");
}
@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("/2018/techsummit/fonts/BebasNeue Bold.otf");
}
@font-face {
  font-family: 'Bebas Neue Book';
  src: url("/2018/techsummit/fonts/BebasNeue Book.otf");
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #007a7c;
}

.navbar {
  padding: 0px 60px;
}

.navbar .btn-techsummit {
  margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #007a7c;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #006163;
}

.btn-techsummit {
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #007a7c;
  display: block;
  padding: 6px;
  position: relative;
}

.btn-techsummit:hover {
  background-color: #006163;
}

.btn-techsummit span {
  align-items: center;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background .5s ease;
  width: 100%;
  color: #ffffff;
  padding: 3px 15px;
}

.btn-more {
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #00acaf;
  display: block;
  position: relative;
  color: #ffffff;
  padding: 9px 23px;
  font-size: 13px;
  -webkit-box-shadow: -2px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 19px -5px rgba(0,0,0,0.75);
}

.jumbotron {
  background: url("/2018/techsummit/img/summit-jumbotron-bg.png") no-repeat center center #006175;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 600px;
  border-radius: 0;
}

section .container {
  padding: 90px 40px;
}

.jumbotron h1 {
  color: #ffffff;
  font-size: 56px;
  font-family: 'Bebas Neue Book', sans-serif;
}

.jumbotron h1 .highlight {
  font-size: 90px;
  font-family: 'Bebas Neue Bold', sans-serif;
  display: block;
}

.jumbotron h2 {
  font-family: 'Bebas Neue Book', sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.25px;
}

.about {
  padding: 80px 0;
}

.about .container {
  padding: 0;
}

.about img {
  max-width: 80px;
}

.about h3 {
  margin-top: 15px;
  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #006175;
}

.about p {
  font-size: 13px;
  color: #808080;
  letter-spacing: 0.25px;
}

#particles-js {
  background-image: linear-gradient(to top, #007a7c 0%, #007a7c 50%, #00a950 100%);
}

.schedule {
  height: 600px;
  background-color: #f1f8fb;
}

.schedule h2, .speakers h2 {
  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 42px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f1f8fb;
}

.schedule table {
  margin-top: 70px;
  background-color: white;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.schedule table td, .schedule table th {
  padding-left: 30px;
}

.schedule table td {
  font-size: 13px;
  color: #999999;
}

.schedule table td.session-name {
  font-weight: 600;
}

.speakers .speaker-container {
  padding: 90px 70px;
}

.speakers img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 15px;
}

.speakers h2 {
  margin-bottom: 50px;
}

.speakers .speaker-info {
  margin-bottom: 50px;
}

.speakers .speaker-info h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.speakers .speaker-info p {
  font-size: 13px;
  color: #999999;
}

.footer {
  background-color: #f8f9fa !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-links > li + li::before {
  content: "|";
}
