@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("/2018/techsummit/fonts/BebasNeue Regular.otf");
}
@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("/2018/techsummit/fonts/BebasNeue Bold.otf");
}
@font-face {
  font-family: 'Bebas Neue Book';
  src: url("/2018/techsummit/fonts/BebasNeue Book.otf");
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

a {
  color: #007a7c;
}

a:hover {
  color: #007a7c;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.navbar {
  padding: 0px 60px;
}

.navbar .nav-link {
  margin: 0 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #007a7c;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #006163;
}

.btn-techsummit {
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #007a7c;
  display: block;
  padding: 6px;
  position: relative;
}

.btn-techsummit:hover {
  background-color: #006163;
}

.btn-techsummit span {
  align-items: center;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background .5s ease;
  width: 100%;
  color: #ffffff;
  padding: 3px 15px;
}

.btn-more {
  border-radius: 40px;
  box-sizing: border-box;
  background-color: #00acaf;
  display: block;
  position: relative;
  color: #ffffff;
  padding: 9px 23px;
  font-size: 13px;
  -webkit-box-shadow: -2px 2px 19px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 19px -5px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 19px -5px rgba(0,0,0,0.75);
}

/* Home Page */

.jumbotron {
  background: url("/2018/techsummit/img/jumbotron-bg.png") no-repeat center center #006175;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 600px;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
}

section .container {
  padding: 90px 40px;
}

.jumbotron h1 {
  color: #ffffff;
  font-size: 56px;
  font-family: 'Bebas Neue Book', sans-serif;
  margin-bottom: 70px;
}

.jumbotron h1 .highlight {
  font-size: 90px;
  font-family: 'Bebas Neue Bold', sans-serif;
  display: block;
}

.jumbotron h2 {
  font-family: 'Bebas Neue Book', sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.25px;
}

.jumbotron img {
  height: 60px;
  margin-bottom: 30px;
}

.about-us {
  background: url("/2018/techsummit/img/women-who-code.png") no-repeat center center #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
}

.about {
  background-color: #f6f6f6;
}

.about .container {
  overflow: hidden;
  padding: 10px 40px;
}

.about img {
  margin-top: 50px;
  max-width: 80px;
}

.about h3 {
  margin-top: 15px;
  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 32px;
  color: #006175;
}

.about p {
  color: #808080;
  letter-spacing: 0.25px;
  margin-bottom: 50px;
}

.schedule {
  background-color: #ffffff;
  min-height: 800px;
  height: fit-content;
}

section h2 {
  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 42px;
}

.schedule table {
  margin-top: 70px;
  background-color: white;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.schedule table td {
  font-size: 13px;
  color: #253539;
}

.table-border td {
  border: 0px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #ddedec;
}

.schedule table td.session-name {
  font-weight: 700;
  font-size: 15px;
}

.schedule table td.session-name span {
  font-size: 13px;
  font-weight: 400;
  display: block;
}

.schedule .container {
  padding: 90px 0;
}

.speakers .speaker-container {
  background-color: #f1f8fb;
  padding: 90px 70px 40px 70px;
}

.speakers img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 15px;
  display: block;
}

.speakers h2 {
  margin-bottom: 50px;
  color: #007a7c;
}

.speakers .speaker-info {
  margin-bottom: 50px;
}

.speakers .speaker-info h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.speakers .speaker-info p {
  color: #999999;
}

.speakers .image {
  position: relative;
}

.speakers .image .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #007a7c;
}

.speakers .image:hover .overlay {
  opacity: 0.9;
}

.speakers .image .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.speakers .column {
  margin: 15px;
  max-width: 300px;
}

.speakers .column a:hover {
  text-decoration: none;
}

.sponsors {
  background-color: #c3d8df;
}

.sponsors img {
  max-height: 60px;
}

.map {
  margin: 0;
  padding: 0;
  height: 300px;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.footer {
  color: #ffffff;
  padding: 40px;
  text-align: center;
  background-color: #007a7c;
}

.footer-links li a {
  color: #ffffff;
}

.particles-js-canvas-el {
  height: calc(100% - 80px) !important;
}

.footer-links > li + li::before {
  content: "|";
}

@media (max-width: 576px) {
  section .container {
    padding: 50px 40px;
  }

  .navbar {
    padding: 0 30px;
  }

  .jumbotron {
    height: 480px;
    background-position: initial;
  }

  .jumbotron h1 {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .jumbotron h1 .highlight {
    font-size: 50px;
  }

  .jumbotron h2 {
    font-size: 24px;
  }

  .schedule .container {
    padding: 50px 0;
    overflow: auto;
    overflow-y: hidden;
  }

  .schedule table thead {
    display: none;
  }

  .schedule table td {
    display: block;
  }

  .schedule table td {
    border: none;
  }

  .schedule table td:first-child {
    border: none;
    padding-bottom: 0;
  }

  .schedule table td:nth-child(2) {
    padding-top: 0;
  }

  .speakers .speaker-container {
    padding: 90px 10px 40px 10px;
  }

  .speakers .speaker-info {
    margin-bottom: 10px;
  }

  .speakers .column {
    max-width: 150px;
  }

  .speakers img {
    width: 150px;
    height: 150px;
  }

  .sponsors img {
    max-height: 50px;
  }

  .mobile-hidden {
    display: none !important;
  }
}

/* Topics Page */

.topic-category h1 {
  color: white;
  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 10px 200px 0;
}

.topic-category .h1-container {
  background-image: linear-gradient(to right, #fbb03b, #ed2876);
  padding: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: inline-block;
}

.topic-category {
  background: url("/2018/techsummit/img/women-who-code.png") no-repeat center center #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #cfdcdd;
}

.topic-container {
  margin-bottom: 60px;
}

.topic-container h2 {
  margin-bottom: 0;
}

.topic-container h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
