<div style="background-color: #007a7c; height:200px;">
	<h1 style="font-size: 30px; text-align:center; color:#fff; padding-top:55px;">Do you want to support this event?</h1> 
	<h1 style="font-size: 30px; text-align:center; color:#fff;">Send us an email at manila@womenwhocode.com</h1>
</div>