<% include 2017-partials/header %>

<div class="travel" id="travel">
	<div class="container">
		<h1>Travelling</h1>
		<p id="subtitle">Hotels, Parking and more</p> 

		<h3>Event Location</h3>
		<p>This event will be happening at Altassian, Philippines located at 2nd Floor B3 Bonifacio High St. Taguig Metro Manila, Philippines. This will be a 2 nights and 2 days event (November 24-26, 2017). If you want to look for a place to sleep during the event, here are the list of options. Btw, Atlassian will be open 24/7 for hackathon participants.</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.8389318563904!2d121.04796554992548!3d14.551201689784051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c8f185211e27%3A0x4487810169390e4c!2sAtlassian+Philippines+Inc.!5e0!3m2!1sen!2sph!4v1501702625159" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
			
		<h3>Ways to get there?</h3>

		<p>Go to Bonifacio High Street, it is the building behind the Speedo Store. You can travel using the following mode:</p>

		<ul>
			<li>Taxi</li>
			<li>Grab</li>
			<li>Uber</li>
			<li>MRT-Ayala then BGC Bus - request dropoff to Bonifacio High Street</li>
		</ul>

		<h3>Parking</h3>

		<p>Parking at P LANE (the nearest parking beside the Atlassian Office) is available but it's very expensive especially on a weekday. It may cost you P50 per hour to park your car. On a weekend, there is an initial fee of P45 then P10 per hour after.</p>

		<p>Other parking areas are available in the BGC area and it will cost you P50 per hour to park your car whether it's on a weekend or a weekday.</p>

		<h3>Places to Sleep Nearby</h3>
		<p>If you are not comfortable to take a nap in an office or during an event, here are the nearby places that are available:</p>

		<p>To be added</p>

		<p>For info, we will have a Pajama Party Theme during the hackathon so bring your best pajama. Please no nighties or lingerie, just wholesome pajamas.</p>
	</div>
</div>

<% include 2017-partials/bottom %>
