<% include 2017-partials/header %>

<div class="faq">
	<div class="container">
		<div class="section-title">
			<h1>FAQ</h1>
			<h2>Frequently Asked Questions</h2>
		</div>

		<div class="faq-block">
			<h4>What is a hackathon?</h4>
			<p>An event where people from different backgrounds gather together to turn their creative ideas into reality through the use of different technologies. </p>
		</div>

		<div class="faq-block">
			<h4>Why join Women Who Code Manila Hackathon?</h4>
			<p>Aside from it being the first women only hackathon in the Philippines, we also want to bring back the focal points of what hackathon is all about.
			<p><i> It's all about these reasons:</i></p>
			<ul id="hackathon-reasons">
				<li>Community</li>
				<li>Learning and Teaching</li>
				<li>Solving</li>
				<li>Collaborating</li>
				<li>Building, because its both fun and rewarding</li>
			</ul>
		</div>

		<div class="faq-block">
			<h4>Who should attend?</h4>
			<p>Women who want to <strong>LEARN</strong>, <strong>COLLABORATE</strong>, and <strong>HACK</strong> with fellow participants. Both <i>students</i> and <i>professionals</i> are welcome.</p>
		</div>

		<div class="faq-block">
			<h4>I don’t know or have little skills in coding. Can I still join?</h4>
			<p>Of course! This event isn’t just for experienced programmers or hackers. We surely love to have people who want to learn and share to the community.</p>
		</div>

		<div class="faq-block">
			<h4>What to bring?</h4>
			<ul>
				<li>Your hackathon tools – Laptops and other devices you’ll use – Please bring extension cords too.</li>
				<li>Change of clothes. Don't forget your Pajamas.</li>
				<li>Mug/Tumblers for your drink! Let's help save Mother Earth and lessen the use of disposable cups. :)</li>
				<li>Jacket! The place might be cold for you!</li>
				<li>You can bring a pillow and blanket too!</li>
			</ul>
		</div>

		<div class="faq-block">
			<h4>How do I form or join a team?</h4>
			<p> Join our study groups or any meetups where you could reach out or network with others. You're likely to find people who are interested in joining. It’s also a great way to meet new people and contacts in the industry. We highly encourage teaming up with acquaintances. It's often more fun to hack with complete strangers. But if that doesn't work, you can find people within your social circles that would add value to the team, even if they aren’t coders.  </p>
		</div>

		<div class="faq-block">
			<h4>Is there a place to rest during the hackathon?</h4>
			<p>Yes. We will provide areas where you can take naps and relax. </p>
		</div>

		<div class="faq-block">
			<h4>Is there a place where I can take a shower if I'm not going home?</h4>
			<p>Yes. You just need to bring your own towel. We will limit the shower to 15 mins per person since we only have limited bathroom available at our location. </p>
		</div>

		<div class="faq-block">
			<h4>I have kids, can I bring them during the event?</h4>
			<p>To our mom hackers, we have organized a kiddie hackathon for your kids! It will run simultaneously with our event. You can let your kids participate on that event while you're busy hacking with us.</p>
		</div>
	</div>
</div>

<% include 2017-partials/bottom %>
