<% include 2017-partials/header %>

<div class="participants">

	<div class="container" style="height: 400px;">
		<h1>Participants</h1>
		<hr>
	</div>

	<div class="container" style="height: 400px;">
		<h1>Volunteers</h1>
		<hr>
	</div>
</div>

<% include 2017-partials/bottom %>
