@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import "./layout.css";
@import "./modifiers.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}