@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import "./layout.css";
@import "./modifiers.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* .jumbotron {
  background: url("/2020/her4point0/img/jumbotron-bg-img.png") no-repeat center
    center #006175;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 600px;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
} */

.hero.banner {
  background: url("/2020/her4point0/img/jumbotron-bg-img.png") no-repeat center
    center #006175;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
