:root {
  --white: #ffffff;
  --light-teal: #007a7c;
  --dark-teal: #024f4f;
}

a {
  color: var(--dark-teal);
}

.is-primary {
  background-color: var(--light-teal) !important;
  color: var(--white);
}

.is-primary:hover {
  background-color: var(--dark-teal) !important;
}

.banner-title {
  font-size: 8rem;
  color: var(--white);
  margin-top: 1.5rem;
}

.banner-subtitle {
  font-size: 3rem;
  color: var(--white);
  margin-top: 1.5rem;
  margin-bottom: 0rem !important;
}
