<% include 2018-partials/techsummit/head %>
<% include 2018-partials/techsummit/ts-navbar %>

<section class="jumbotron">
  <div class="container">
    <h1>
      Women Who Code Manila
      <span class="highlight">Tech Summit 2018</span>
    </h1>
    <h2>
      NOV 24, 2018, 9AM - 5PM
      <br/>
      UPTOWN CENTER 2, BGC, TAGUIG CITY
    </h2>
  </div>
</section>

<section class="about-us">
  <div class="container">
    <h2>About Us</h2>
    <p>Paragraph about us!</p>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="/2018/techsummit/img/innovate.png"/>
        <h3>Innovate</h3>
        <p><strong>Innovate</strong> as you learn new technologies.</p>
      </div>
      <div class="col text-center">
        <img src="/2018/techsummit/img/levelup-01.png"/>
        <h3>Level Up</h3>
        <p><strong>Level up</strong> as you dive into best practices.</p>
      </div>
      <div class="col text-center">
        <img src="/2018/techsummit/img/grow-01.png"/>
        <h3>Grow</h3>
        <p><strong>Grow</strong> as you lead in your career.</p>
      </div>
    </div>
  </div>
</section>

<section class="schedule">
  <div class="container text-center">
    <h2>Schedule</h2>
    <table class="table table-bordered">
      <colgroup>
        <col style="width: 15%;">
        <col style="width: 25%;">
        <col style="width: 25%;">
        <col style="width: 25%;">
      </colgroup>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col" colspan="3">Event Details</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>08:00 am - 09:00 am</td>
        <td class="session-name" colspan="3">Registration and Breakfast</td>
      </tr>
      <tr>
        <td>09:00 am - 09:10 am</td>
        <td class="session-name" colspan="3">
          Welcoming Remarks from Women Who Code
          <span>Steffi Tan, Director of Women Who Code Manila</span>
        </td>
      </tr>
      <tr>
        <td>09:10 am - 09:15 am</td>
        <td class="session-name" colspan="3">
          Welcoming Remarks from Accenture, Philippines
          <!--<span>_____, Accenture, Philippines</span>-->
        </td>
      </tr>
      <tr>
        <td>09:15 am - 09:45 am</td>
        <td class="session-name" colspan="3">
          Opening Keynote:
          <span>Chelly Gray, Director of Growth, Thinking Machines</span>
        </td>
      </tr>
      <tr>
        <td>09:45 am - 09:50 am</td>
        <td class="session-name text-center" colspan="3">HOUSEKEEPING</td>
      </tr>
      <tr>
        <td></td>
        <td class="session-name text-center" colspan="3">BREAKOUT SESSIONS</td>
      </tr>
      <tr>
        <td></td>
        <td class="session-name text-center">INNOVATE</td>
        <td class="session-name text-center">LEVEL UP</td>
        <td class="session-name text-center">GROW</td>
      </tr>
      <tr>
        <td>10:00 am - 10:30 am</td>
        <td class="session-name">
          ReactJS
          <span>Kate Banez</span>
        </td>
        <td class="session-name">
          Clean Code Architecture
          <span>Rozal Reese, Software Development Manager, Oracle NetSuite</span>
        </td>
        <td class="session-name text-center">
          How to start your tech career?
          <span>Jen Mallari, Accenture, Philippines</span>
        </td>
      </tr>
      <tr>
        <td>10:40 am - 11:20 am</td>
        <td class="session-name">
          AR/VR
          <span>Patricia Cabacang, Software Developer - Augmented Reality, Accenture, Philippines</span>
        </td>
        <td class="session-name">
          DevOps Best Practices
          <span>Charo Nuguid</span>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>11:30 am - 12:00 nn</td>
        <td class="session-name">
          Basic Natural Language Processing (NLP) pipeline in Python
          <span>Jolly Ann Bilad, Junior Data Scientist, Pez.AI</span>
        </td>
        <td class="session-name">
          How to protect yourself from big companies that’s tracking you?
          <span>Mars Gabutero</span>
        </td>
        <td class="session-name">
          Stop Faking It. You are not a Fraud.
          <span>Erika Thea Ajes, Senior Software Engineer, FSG Technology Ventures Inc.</span>
        </td>
      </tr>
      <tr>
        <td>12:00 nn - 01:00 pm</td>
        <td class="session-name text-center" colspan="3">LUNCH</td>
      </tr>
      <tr>
        <td>12:20 nn - 12:45 pm</td>
        <td class="session-name text-center" colspan="2">
          LUNCH TALKS SPECIALS
          <br />
          <br />
          How a Deaf Woman like me defeated poverty & depression to succeed in the FinTech Industry
          <span>Ma. Anaditha Angcay, Global Payments Process Center Inc., De La Salle-College of Saint Benilde</span>

        </td>
        <td class="session-name text-center">
          LUNCH TALKS SPECIALS
          <br />
          <br />
          Innovation's Infinite Realities and Us
          <span>Pauline Baterna, VP for Externals, Developers' Society Philippines</span>
        </td>
      </tr>
      <tr>
        <td>1:00 pm - 1:30 pm</td>
        <td class="session-name">
          Adding Analytics to your Apps
          <span>Ce Manalang, Software Engineer, BeautyMNL</span>
        </td>
        <td class="session-name">
          UX Best Practices
          <span>Joanna Mae Javier, Accenture, Philippines</span>
        </td>
        <td class="session-name">
          The Healthy Programmer
          <span>Clau Yagyagan, CTO, ProperteeButler</span>
        </td>
      </tr>
      <tr>
        <td>1:40 pm - 2:10 pm</td>
        <td class="session-name">
          So You Want to Be a Data Scientist? (& Why Women Make Awesome Data Scientists)
          <span>Suzanne Lee, CTO & CIO, Analytiks Inc., Bridge Southeast Asia</span>
        </td>
        <td class="session-name">
          Scaling Software Dev: Codebase and Team
          <span>Tutti Quintella, Women Who Code Tokyo Director, Engineer, Mercari Inc.</span>
        </td>
        <td class="session-name">
          Overcoming the Nice Girl Syndrome
          <span>Koree Monteloyola, Founder, Kairos I.T. Services</span>
        </td>
      </tr>
      <tr>
        <td>2:20 pm - 2:50 pm</td>
        <td class="session-name">
          Why Should I Know Blockchain? - A Primer on Blockchains
          <span>Sheena Dale Mariano, R&D Software Engineer, Gemalto</span>
        </td>
        <td class="session-name">
          Tech Pitfalls in SAP B1 Implementations
          <span>Monette Vega Laylo, IT Director for OEM Solutions, Marketing Officer for SALt.ph</span>
        </td>
        <td class="session-name">
          The Art of Asking
          <span>Renee Santos, Associate Director, Accenture, Philippines</span>
        </td>
      </tr>
      <tr>
        <td>3:00 pm - 3:30 pm</td>
        <td class="session-name">
          Agile AI
          <span>Yue Lin Choong, Women Who Code Singapore, Senior AI Data Scientist, Amaris AI</span>
        </td>
        <td></td>

        <td class="session-name">
          PANEL TALK: Mixing Passion and Tech - A discussion from graduates of non-technical/ non-CS courses and combining their courses to tech using programming

          <span>
            Joy Paas, Web Developer, Quipper
            <br/>
            Kim Santos, IT Manager, MedGrocer
            <br/>
            Marylette Roa, Researcher/Genomicist, University of the Philippines
            <br/>
            Iris Uy, Researcher, Marine Science Institute, UP Diliman
          </span>
        </td>
      </tr>
      <tr>
        <td>3:40 pm - 4:20 pm</td>
        <td class="session-name text-center" colspan="3">
          PANEL TALK: Women Leading their Technical Team

          <span>
            Stef Sy, CEO and Lead Data Scientist, Thinking Machines
            <br/>
            Sofia Ang, Engineering Lead, ING
            <!--<br/>-->
            <!--Veck Basinag, CTO, Pointwest (Pending)-->
            <!--<br/>-->
            <!--_________________, Accenture, Philippines (Pending)-->
          </span>
        </td>
      </tr>
      <tr>
        <td>4:20 pm - 4:45 pm</td>
        <td class="session-name text-center" colspan="3">
          CLOSING KEYNOTE
          Christine Balanaa, Women Who Code Tech Lead
        </td>
      </tr>
      <tr>
        <td>4:45 pm - 5:00 pm</td>
        <td class="session-name text-center" colspan="3">Thank you! <3</td>
      </tr>
      <tr>
        <td>5:00 pm - 5:20 pm</td>
        <td class="session-name text-center" colspan="3">CLOSING THE CONFERENCE</td>
      </tr>
      <tr>
        <td>5:20 pm - 5:30 pm</td>
        <td class="session-name text-center" colspan="3">GROUP PHOTO</td>
      </tr>
      <tr>
        <td>6:00 pm - 9:00 pm</td>
        <td class="session-name text-center" colspan="3">AFTER PARTY</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="speakers">
  <div class="speaker-container text-center">
    <h2>Speakers</h2>
    <div class="row flex-center">
      <div class="column">
        <div class="image">
          <img src="/2018/techsummit/img/speaker/stef_sy.jpg"/>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
        <div class="speaker-info">
          <h3>Stef Sy</h3>
          <p>CEO & Lead Data Scientist, Thinking Machines</p>
        </div>
      </div>
      <div class="column">
        <div class="image">
          <img src="/2018/techsummit/img/speaker/sofia_guyang.jpeg"/>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
        <div class="speaker-info">
          <h3>Sofia Ang</h3>
          <p>Engineering lead, ING</p>
        </div>
      </div>
      <div class="column">
        <div class="image">
          <img src="/2018/techsummit/img/speaker/joy.jpg"/>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
        <div class="speaker-info">
          <h3>Joy Paas</h3>
          <p>Web Developer, Quipper</p>
        </div>
      </div>
      <div class="column">
        <div class="image">
          <img src="/2018/techsummit/img/speaker/kim_800px.jpg"/>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
        <div class="speaker-info">
          <h3>Kim Santos</h3>
          <p>IT Manager, MedGrocer</p>
        </div>
      </div>
    </div>
    <div class="row flex-center">
      <div class="column">
        <div class="image">
          <img src="/2018/techsummit/img/speaker/mlet_400pxBy400px.jpg"/>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
        <div class="speaker-info">
          <h3>Marylette Roa</h3>
          <p>Researcher/Genomicist, University of the Philippines</p>
        </div>
      </div>
      <div class="column">
        <div class="image">
          <img src="/2018/techsummit/img/speaker/Iris.png"/>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
        <div class="speaker-info">
          <h3>Iris Uy</h3>
          <p>Researcher, Marine Science Institute, University of the Philippines Diliman</p>
        </div>
      </div>
      <div class="column">
        <div class="image">
          <img src="/2018/techsummit/img/speaker.png"/>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
        <div class="speaker-info">
          <h3>Christine Balanaa</h3>
        </div>
      </div>
      <div class="column">
        <div class="image">
          <img src="/2018/techsummit/img/speaker.png"/>
          <div class="overlay">
            <div class="text"></div>
          </div>
        </div>
        <div class="speaker-info">
          <h3>Kate Banez</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row flex-center">
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker.png"/>
            <div class="overlay">
              <div class="text"></div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Particia Cabacang</h3>
            <p>Software Engineer - Augmented Reality, Accenture</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker.png"/>
            <div class="overlay">
              <div class="text"></div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Ce Manalang</h3>
            <p>Software Engineer, BeautyMNL</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker/jolly.jpeg"/>
            <div class="overlay">
              <div class="text">Basic NLP pipeline in Python</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Jolly Ann Bilad</h3>
            <p>Junior Data Scientist, Pez.AI</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker/sheena.png"/>
            <div class="overlay">
              <div class="text">Why Should I Know Blockchain? - A Primer on Blockchains</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Sheena Dale Mariano</h3>
            <p>R&D Software Engineer, Gemalto</p>
          </div>
        </div>
      </div>
      <div class="row flex-center">
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker/Photo-Lin.jpg"/>
            <div class="overlay">
              <div class="text">Agile AI</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Yue Lin Choong</h3>
            <p>Senior AI Data Scientist, Amaris AI</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker/reese.png"/>
            <div class="overlay">
              <div class="text">Clean Code Architecture</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Rozal Reese</h3>
            <p>Software Development Manager, Oracle NetSuite</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker.png"/>
            <div class="overlay">
              <div class="text"></div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Charo Nuguid</h3>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker.png"/>
            <div class="overlay">
              <div class="text"></div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Mars Gabutero</h3>
          </div>
        </div>
      </div>
      <div class="row flex-center">
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker/tuanne.png"/>
            <div class="overlay">
              <div class="text">Scaling Software Development: Teams & Codebase</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Tuane Quintella</h3>
            <p>Software Engineer, Mercari Inc.</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker.png"/>
            <div class="overlay">
              <div class="text">UX Best Practices</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Joanna Mae Javier</h3>
            <p>Accenture</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker/renee.jpg"/>
            <div class="overlay">
              <div class="text">The Art of Asking</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Renee Santos</h3>
            <p>Associate Director, Accenture</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker/koree-monteloyola-400x400.jpg"/>
            <div class="overlay">
              <div class="text">Overcoming the Nice Girl Syndrome</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Koree Monteloyola</h3>
            <p>Founder, Kairos I.T. Services</p>
          </div>
        </div>
      </div>
      <div class="row flex-center">
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker/Clau.png"/>
            <div class="overlay">
              <div class="text">The Healthy Programmer</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Clau Yagyagan</h3>
            <p>CTO, ProperteeButler</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker.png"/>
            <div class="overlay">
              <div class="text">Stop Faking It. You are not a Fraud.</div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Erika Thea Ajes</h3>
            <p>Senior Software Engineer, FSG Technology Ventures Inc.</p>
          </div>
        </div>
        <div class="column">
          <div class="image">
            <img src="/2018/techsummit/img/speaker.png"/>
            <div class="overlay">
              <div class="text"></div>
            </div>
          </div>
          <div class="speaker-info">
            <h3>Chelle Gray</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sponsors">
  <div class="container text-center">
    <h2>Our Sponsors</h2>
    <img src="/Global/WWCodeManila-Logo.png"/>
    <img src="/Global/WWCodeManila-Logo.png"/>
    <img src="/Global/WWCodeManila-Logo.png"/>
    <img src="/Global/WWCodeManila-Logo.png"/>
    <img src="/Global/WWCodeManila-Logo.png"/>
    <img src="/Global/WWCodeManila-Logo.png"/>
  </div>
</section>

<section class="tickets">
  <div class="container text-center">
    <h2>Tickets</h2>
    <div style="width:100%; text-align:left;">
      <iframe src="https://eventbrite.com/tickets-external?eid=51727137260&ref=etckt" frameborder="0" height="818"
              width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto"
              allowtransparency="true"></iframe>
      <div
        style="font-family: 'Lato', sans-serif; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;">
        <a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank"
           href="https://www.eventbrite.com/">Powered by Eventbrite</a>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15447.010586918303!2d121.0542321!3d14.5561327!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x793350c5e4972d2e!2sUptown+Place+Tower+2!5e0!3m2!1sen!2sph!4v1542016244751"
    frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

<% include 2018-partials/techsummit/footer %>
<% include 2018-partials/global/scripts %>
