<% include 2018-partials/techsummit/head %>
<% include 2018-partials/techsummit/ts-navbar %>

<section class="jumbotron">
  <div class="container">
    <h1>
      Women Who Code Manila
      <span class="highlight">Tech Summit 2018</span>
    </h1>
    <h2>
      NOV 24, 2018, 9AM - 5PM
      <br/>
      UPTOWN CENTER 2, BGC, TAGUIG CITY
    </h2>
    <br>
    <button class="btn btn-more">More Details</button>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="/2018/techsummit/img/coding.png" />
        <h3>Code</h3>
        <p>Learning about best practices, new technologies, and level up your career</p>
      </div>
      <div class="col text-center">
        <img src="/2018/techsummit/img/networking.png" />
        <h3>Local</h3>
        <p>Learn straight from Filipinas in the tech industry</p>
      </div>
      <div class="col text-center">
        <img src="/2018/techsummit/img/stats.png" />
        <h3>Connect</h3>
        <p>Participate in activities and meet new people</p>
      </div>
      <div class="col text-center">
        <img src="/2018/techsummit/img/cooperation.png" />
        <h3>Community-Driven</h3>
        <p>Designed to help everyone in the community excel in their careers</p>
      </div>
    </div>
  </div>
</section>

<section class="schedule">
  <div class="container text-center">
    <h2>Schedule</h2>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">Session</th>
        <th scope="col">Time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="session-name">Registration and Breakfast</td>
        <td>08:00AM - 09:00AM</td>
      </tr>
      <tr>
        <td class="session-name">The Surprise Goes Here</td>
        <td>09:00AM - 05:30PM</td>
      </tr>
      <tr>
        <td class="session-name">After Party</td>
        <td>06:00PM - 09:00PM</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="speakers">
  <div class="speaker-container text-center">
    <h2>Speakers</h2>
    <div class="row">
      <div class="col">
        <img src="/2018/techsummit/img/speaker.png" />
        <div class="speaker-info">
          <h3>Toni Duggan</h3>
          <p>GM, PixelPerfect</p>
        </div>
      </div>
      <div class="col">
        <img src="/2018/techsummit/img/speaker.png" />
        <div class="speaker-info">
          <h3>Toni Duggan</h3>
          <p>GM, PixelPerfect</p>
        </div>
      </div>
      <div class="col">
        <img src="/2018/techsummit/img/speaker.png" />
        <div class="speaker-info">
          <h3>Toni Duggan</h3>
          <p>GM, PixelPerfect</p>
        </div>
      </div>
      <div class="col">
        <img src="/2018/techsummit/img/speaker.png" />
        <div class="speaker-info">
          <h3>Toni Duggan</h3>
          <p>GM, PixelPerfect</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/2018/techsummit/img/speaker.png" />
        <div class="speaker-info">
          <h3>Toni Duggan</h3>
          <p>GM, PixelPerfect</p>
        </div>
      </div>
      <div class="col">
        <img src="/2018/techsummit/img/speaker.png" />
        <div class="speaker-info">
          <h3>Toni Duggan</h3>
          <p>GM, PixelPerfect</p>
        </div>
      </div>
      <div class="col">
        <img src="/2018/techsummit/img/speaker.png" />
        <div class="speaker-info">
          <h3>Toni Duggan</h3>
          <p>GM, PixelPerfect</p>
        </div>
      </div>
      <div class="col">
        <img src="/2018/techsummit/img/speaker.png" />
        <div class="speaker-info">
          <h3>Toni Duggan</h3>
          <p>GM, PixelPerfect</p>
        </div>
      </div>
    </div>
  </div>
</section>

<% include 2018-partials/global/footer %>
<% include 2018-partials/global/scripts %>
