<% include 2018-partials/techsummit/head %>
<% include 2018-partials/techsummit/ts-navbar %>

<section class="topic-category">
  <div class="header">
    <div class="h1-container">
      <h1>Keynote</h1>
    </div>
  </div>
  <div class="container">
    <div class="topic-container">
      <h2>Chelle Gray</h2>
      <h3>Finding Your Voice</h3>
      <p>Hear stories and lessons on finding your own voice and how to inspire other find theirs.</p>
      <p>Chelle is currently the Director for Growth at Thinking Machines Data Science. The leading Data Science start-up in the country. She's passionate on programs and initiatives on diversity and inclusion. Her previously worked for Google developing and growing developer communities across APAC for 5 years. She also briefly joined Globe to lead their corporate Social Responsibility leveraging tech in doing social good. She'd like to believe that she's a cool geeky mom to a 14 year old kid who she started bringing to tech events when he was 3 yrs old.</p>
    </div>
    <div class="topic-container">
      <h2>Christine Gray</h2>
      <h3>The Curious Case</h3>
      <p>"Trying to keep pace with ever evolving technology can be incredibly overwhelming. Everyday, there seems to be new tools, frameworks and best practices to learn. Where do we even begin? Let's take a step back, embrace the journey and enjoy the detour. This time, it starts with a whitespace and ends with a rockstar -- or maybe an emoji. :)"</p>
      <p>Christine Balanaa works as a Software Engineer at Pointwest. Graduated with a Bachelor's Degree in Electronics and Communications Engineering. She has always been fascinated with technology and the many opportunities it offers to learn something new. She is also one of the leads for WWCode Manila Android Dev Study Group.</p>
    </div>
  </div>
</section>

<section class="topic-category">
  <div class="header">
    <div class="h1-container">
      <h1>Innovate</h1>
    </div>
  </div>
  <div class="container">
    <div class="topic-container">
      <h2>Kate Banez</h2>
      <h3>Why Why ReactJS?</h3>
      <p>Learn more about ReactJS and why you should use it.</p>
      <p>Kate is a Front End Engineer for a little over a year at Acudeen. She volunteers at Women Who Code Manila to help promote women in Tech.</p>
    </div>
    <div class="topic-container">
      <h2>Patricia Cabacang</h2>
      <h3>Exploring the New Realities: AR and VR</h3>
      <p>Explore the different kinds of Augmented and Virtual Realities -- how they differ from each other and how they may be applied into different industries. One sample application will also be briefly discussed to give audience and idea how to create a simple AR application.</p>
      <p>Patricia "Trish" Cabacang has been working with Accenture for 5 years with experience in legacy project migration and development of Augmented Reality applications. For the past 2 years, along with her teammates in Liquid Studio, she has developed at least 11 AR POCs for Retail, Industrial and Advertising use cases. She currently leads the XR team of the Liquid Studio. On her spare time, Trish loves to play the guitar and the piano with friends and family, and to teach kids in Math. She's also into sports, specifically basketball and volleyball.</p>
    </div>
    <div class="topic-container">
      <h2>Jolly Ann Bilad</h2>
      <h3>Basic Natural Language Processing (NLP) pipeline in Python</h3>
      <p>"NLP is a machine learning solution developed to help machines understand humans better."</p>
      <p>Jolly Ann Bilad is a junior data scientist at Pez.ai will share to us the basics on data normalization and cleaning pipelines for NLP applications.</p>
      <p>She is a a computer scientist by workdays, theater girl by weekends. Curious and likes learning about stuff. Don't forget to say "Hi" when you see her. She'll be totally glad when you do. 😁</p>
    </div>
    <div class="topic-container">
      <h2>Joanna Mae Javier</h2>
      <h3>Adopting the Right Attitude Towards UX Design</h3>
      <p>Fine tune your UX skills by "Adopting the Right Attitude Towards UX Design"</p>
      <p>UX designer job came 7th in Forbes list of top 20 jobs for work life balance. And recent study from Nielsen Norman Group found out that UX designers love their work.</p>
      <p>Joanna Mae Javier, UX Designer at Accenture, specializes in designing experience for web applications. Sometime in her career she was involved in creating a mobile game application for Accenture. When she isn't working, she spends time thinking how to solve the world's problem. When she's tired, she sleeps. She loves good music and good food.</p>
    </div>
    <div class="topic-container">
      <h2>Suzy Lee</h2>
      <h3>So You Want to Be a Data Scientist? (& Why Women Make Awesome Data Scientists)</h3>
      <p>To all aspiring Data Scientist.</p>
      <p>"What does it really take to jump into "Sexiest Job of the 21st Century?". Definitely a lot more than smarts and coding prowess. And it appears even that women's natural abilities gives her a unique advantage in this field."</p>
      <p>Learn about the soft-skills you need to cultivate and the hard-skills you need to learn to become the next best data scientist!</p>
      <p>Suzy Lee is currently the CTO & CIO of Bridge Southeast Asia -an HR & Fintech company. She is also Consultant, Trainer and Managing Partner of Analytiks Inc. - a Data Science consulting and training company she co-founded with partner Krish Tanwani. She's a self-taught data scientist which is a practice she took on after joining Singapore-based AI / Deep Learning startup AdatosI in 2016, after having been a restauranteur for the past 4 years prior. She started her career with IBM Global Business Services and has extensive experience in solution development for various real-world business challenges and requirements. She holds a Master's degree in Computer Science from the National University of Singapore and Massachusetts Institute of Technology's Singapore-MIT Alliance program and a Masters of Management from Cornell University.</p>
      <p>Suzy is also a volunteer life coach, an active advocate for positive body image, and a spinning and surfing addict.</p>
    </div>
    <div class="topic-container">
      <h2>Sheena Dale Mariano</h2>
      <h3>The Hitchhiker's Guide to Blockchains</h3>
      <p>Learn about Blockchain technology's basic processes blocks, mentions consensus algorithm, and dabbles on smart contracts from one of our amazing speaker Sheena Dale Mariano.</p>
      <p>Sheena is a full stack programmer in R&D at Gemalto. She's a Blockchain enthusiast delving on Ethereum and Hyperledger platforms.</p>
    </div>
  </div>
</section>

<section class="topic-category">
  <div class="header">
    <div class="h1-container">
      <h1>Level Up</h1>
    </div>
  </div>
  <div class="container">
    <div class="topic-container">
      <h2>Rozal Reese</h2>
      <h3>Clean Code Architecture</h3>
      <p>Rozal Reese will get you into Clean Code Architecture by helping you understand how to assess designs and code refactoring.</p>
      <p>Rozal is a certified NetSuite SuiteCloud Developer, certified Java Developer and a graduate of Master of Information Technology at University of the Philippines Los Banos.</p>
    </div>
    <div class="topic-container">
      <h2>Charo Nuguid</h2>
      <h3>DevOps Principles: What you should remember first before best practices</h3>
      <p>“DevOps is a culture.”</p>
      <p>While the term DevOps was formally coined in 2009, the methodology has been fairly new in the Philippines. Companies new to this try to implement best practices. But even so, they forget that the practices are only as good as the principles that started it all.</p>
      <p>Learn about the core principles and how these are used to find out where DevOps practices can add value to the organization.</p>
      <p>Charo Nuguid has been in the technology sector for more than 20 years doing training and enterprise systems development. Her tech knowledge includes Java, Python, Go, various database systems, AWS, Arduino, RaspberryPi, IoT, DevOps, *nix systems, among many others. She is also active in various tech and non-tech communities.</p>
    </div>
    <div class="topic-container">
      <h2>Monette Vega Laylo</h2>
      <h3>Tech Pitfalls in SAP B1 Implementations</h3>
    </div>
    <div class="topic-container">
      <h2>Ce Manalang</h2>
      <h3>When Code meet Analytics</h3>
    </div>
    <div class="topic-container">
      <h2>Tutti Quintella</h2>
      <h3>Scaling Software Dev: Codebase and Team</h3>
      <p>Part of a growing team?</p>
      <p>Know the challenges of scaling software development, multiplying team size and system complexity, and some strategies to deal with them.</p>
      <p>Tutti Quintella is a passionate and curious software engineer from Brazil, who works for the Engineering Office at Mercari Inc. in Tokyo, helping maximize the output of engineering teams across the company, responsible for hiring and training engineers, improving processes and knowledge sharing / community building.</p>
      <p>Having worked in 3 different continents, Tutti experienced being a software engineer in companies of various sizes and cultures, from a 12-people startup to big global corporations like Samsung and Bosch. She's also a director of Women Who Code Tokyo chapter and enjoys running events and parties in her free time.</p>
    </div>
    <div class="topic-container">
      <h2>Choong Yue Lin</h2>
      <h3>Agile AI</h3>
    </div>
  </div>
</section>

<section class="topic-category">
  <div class="header">
    <div class="h1-container">
      <h1>Grow</h1>
    </div>
  </div>
  <div class="container">
    <div class="topic-container">
      <h2>Khristine Ramos-Parungao</h2>
      <h3>Navigating your Tech Career</h3>
    </div>
    <div class="topic-container">
      <h2>Josan Astrid Dometita-Chug</h2>
      <h3>From Developer to Startup Founder</h3>
    </div>
    <div class="topic-container">
      <h2>Erika Thea Ajes</h2>
      <h3>Stop Faking It. You are not a Fraud</h3>
      <p>"Stop Faking It. You are not a Fraud."</p>
      <p>Though it is a sound advice, it can actually hurt you, your career, and even your peers and team when one does not understand when you should and when you should not fake it to avoid the pitfall of the imposter syndrome.</p>
      <p>Erika Thea Ajes is a Java/Groovy-jumped-to-Ruby/Rails software engineer and have been in the industry for 7 years. Currently, team leader at FSG Technology Ventures Inc.'s IT department which is largely composed by women.</p>
      <p>She loves to travel and attend local and international conferences. When you spot a long-haired person in a meetup or conference, that would be (most likely) her! A fan of Uncle Bob (Robert Martin), Marcus Blankenship, and Matz (Yukihiro Matsumoto).</p>
    </div>
    <div class="topic-container">
      <h2>Clau Yagyagan</h2>
      <h3>The Healthy Programmer</h3>
      <p>"What fitness taught me about programming and how to get fit, feel better and keep coding."</p>
      <p>Inspired by "The Healthy Programmer" book by Joe Kutner.</p>
      <p>Programming requires intense concentration that often causes us to neglect other aspects of our lives—the most common of which is our health. Our bodies haven't evolved to accommodate a lifestyle of sitting, and there are many negative health effects from it. Your job shouldn't hurt you, and with the right tools it won't. The health effects of being a sedentary programmer are treatable, and in most cases reversible.</p>
      <p>Clau Yagyagan, CTO at ProperteeButler, Director at Women Who Code Manila. She's also a mobile and web developer; switching to any platform if needed. She loves exploring and learning different programming languages, frameworks, libraries, and tools to add to her arsenal for her craft.</p>
    </div>
    <div class="topic-container">
      <h2>Koree Monteloyola</h2>
      <h3>Overcoming the Nice Girl Syndrome</h3>
      <p>"We are praised for being nice. But these don't work anymore or are not enough to achieve professional success for women."</p>
      <p>Overcoming the Nice Girl Syndrome will focus on the behaviors that inhibit women in living the lives they should live. And get tips on how to be in control of your lives.</p>
      <p>Koree Monteloyola is the founder of Kairos I.T. Services and a full stack web developer.</p>
      <p>She's started creating web pages since 1996. Her love for PHP programming led her to handle websites of local men's magazines of Summit Media like FHM Philippines, Entrepreneur PH, T3, Top Gear.</p>
      <p>Started her own business, Kairos I.T. Services in 2014. She got a bachelor's degree in Computer Science and a master's degree in Information Systems. She's currently active in advocating proper internet use for señior citizens through a group she started which is called the "Techie Señior Citizens and Retirees Philippines" (https://bit.ly/2OsYGI8).</p>
    </div>
    <div class="topic-container">
      <h2>Renee Santos</h2>
      <h3>The Art of Asking</h3>
      <p>"Asking for what you want, whether it's getting support for an idea, a new project, or negotiating your salary, is a daunting task for most of us. You will learn techniques in this short talk on how to effectively reach across the aisle, and work with others to reach your goal."</p>
      <p>Renee Santos is a passionate champion of gender diversity. She is also the Accent on Technology Women Lead for Accenture Philippines, working to get more women into technology - and more importantly, getting them to stay.</p>
      <p>She joined Accenture in 2003 and has worked on many large scale, gl systems integration, product development and outsourcing programs, playing different roles throughout her career, from PeopleSoft and PL/SQL SME to Program Management.</p>
      <p>Today, Renee leads strategic initiatives globally, turning innovation from vision to the new normal. She is an avid traveler, home cook, amateur cake decorator, the fun aunt, and total science fiction nerd, living with her dog George in Manila, Philippines.</p>
    </div>
    <div class="topic-container">
      <h2>Dr. Jen Elmaco</h2>
      <h3>Breaking the Silence, Making the Pitch and Hitting the Podium</h3>
    </div>
  </div>
</section>

<section class="topic-category">
  <div class="header">
    <div class="h1-container">
      <h1>Lunch Talk Specials</h1>
    </div>
  </div>
  <div class="container">
    <div class="topic-container">
      <h2>Pauline Baterna</h2>
      <h3>Innovation's Infinite Realities and Us</h3>
      <p>Have you ever found yourself seeing a newly founded innovation or start-up that makes you scratch your head, and asking yourself, “Do we really need this?”.</p>
      <p>The differences in innovative realities between today’s first world and third world countries explain this. For me, the woman in technology here in the Philippines, regardless of age, fares in her innovative reality with a difference from the rest that I could only describe as fascinating.</p>
      <p>Learn through this talk just how the result of realities affects us as women, how technology serves to bridge these discrepancies, and how we can help break the binary.</p>
      <p>Pauline Baterna, VP for Externals for Developers' Society Philippines as well as a freshman college student studying BS Information Technology Entrepreneurship in Ateneo de Manila University. While she loves technology, her strength is mostly on the Entrepreneurship aspect of Innovation. She really love watching documentaries despite how boring they are, watch shows like Shark Tank a lot, and spend most of her time missing her pet Yorkshire Terrier, Suki.</p>
    </div>
    <div class="topic-container">
      <h2>Mars Gabutero</h2>
      <h3>The Product is You</h3>
      <p>How and why Internet companies collect personal information?</p>
      <p>Mars Gabutero worked as a developer, QA, ops, and system architect (not all at once) on large-scale websites since 2007. She is also currently leading Women Who Code Manila's in Javascript study group.</p>
    </div>
    <div class="topic-container">
      <h2>Ma. Anaditha Angcay</h2>
      <h3>How a Deaf Woman like me defeated poverty & depression to succeed in the FinTech Industry - Ma. Anaditha Angcay</h3>
      <p>"I am deaf. Dad had terminal illness & left us, mom abandoned us, I was abused in school. But I didn’t give up. I graduated with honors through scholarships & a lot of sacrifices. I am now an award-winning FinTech analyst at an American firm."</p>
      <p>Ma. Anaditha Angcay works as a Credit Analyst and is a Filipino Deaf Advocate and Vlogger.</p>
    </div>
  </div>
</section>

<section class="topic-category">
  <div class="header">
    <div class="h1-container">
      <h1>Exciting Panel Talks</h1>
    </div>
  </div>
  <div class="container">
    <div class="topic-container">
      <h2>Joy Paas</h2>
      <h3>Mixing Passion and Tech</h3>
      <p>Joy Paas is a licensed teacher that works in the tech industry. Her goal as a developer is to provide better educational access and experience for people from different backgrounds. She mixes both her passion for both education at Quipper, and e-learning company.</p>
      <p>As a self-taught developer, she also wanted to help out others who wanted to improve in their tech careers. Because of this, she also volunteers as one of the directors of Women Who Code Manila, where she helps other women in tech.</p>
      <p>Outside of tech, she also likes swimming and cats.</p>
    </div>
    <div class="topic-container">
      <h2>Marylette Bautista Roa</h2>
      <h3>Mixing Passion and Tech</h3>
      <p>Marylette is a molecular biologist who specializes in the field of genomics and bioinformatics. She has collaborated and worked on several research projects including drug resistant clinical bacteria, plant, fungal, and viral genomes. Although she started out as an experimentalist, she learned programming in order to tackle large genomic datasets and streamline her analyses - and has gained much interest in programming since then. She is also a volunteer in Women Who Code Manila for the Python and Data Science tracks. She hopes that more women find confidence in their skills in technologies and that, specifically, scientists in the Philippines gain more understanding and appreciation for technologies (including programming) as a tool to aid their research.</p>
    </div>
    <div class="topic-container">
      <h2>Iris Diana Uy</h2>
      <h3>Mixing Passion and Tech</h3>
      <p>Iris Uy is a molecular biologist whose love for the ocean led her to pursue a master's degree in Marine Science, major in Marine Biotechnology at the Marine Science Institute (MSI) of UP Diliman. In the same institute, she became part of the Marine Genomics and Molecular Genetics Laboratory. She was involved in projects that investigated the genomes of marine organisms for various applications that ranged from defining species populations to mining potential new drugs from the sea.</p>
      <p>She stumbled upon Python seven years ago, which opened the world of bioinformatics to her. Soon after, she joined the then new Core Facility for Bioinformatics of the Philippine Genome Center, where she developed and executed bioinformatics workflows for research projects, and developed bioinformatics modules for trainings. She is currently a project bioinformatician in MSI.</p>
    </div>
    <div class="topic-container">
      <h2>Kim Santos</h2>
      <h3>Mixing Passion and Tech</h3>
      <p>Kim is a registered pharmacist who works as an IT manager for an online pharmacy. She believes that fusing her interests and degree can eventually make an impact in helping the pharmacy practice in the Philippines move forward through technology.</p>
      <p>She started to learn programming by attending Women Who Code Manila study groups. Currently, she's the tech lead for React JS.</p>
    </div>
    <div class="topic-container">
      <h2>Stephanie Sy, Sofia Ang, Jenny Anne Hans, Regina Lim</h2>
      <h3>Women Leading their Technical Team</h3>
      <p>Stephanie has been the technical founder of startups in Manila and Silicon Valley. She's worked at Google HQ as a product analyst, building data analytics tools for internal teams. She graduated from Stanford University in 2011.</p>
      <p>Stephanie is on the Philippines’ Department of Science and Technology AI Advisory Board, on the jury for the GEN Data Journalism Awards, and on the Forbes Asia 30 Under 30 list for her expertise in Enterprise Technology.</p>
    </div>
    <div class="topic-container">
      <h2>Sofia Ang</h2>
      <h3>Women Leading their Technical Team</h3>
      <p>Sofia is currently Engineering Lead at ING Asia where she leads her chapter of engineers to continuously learn and deliver the best banking experience. Previously, she was a Specialist at PayMaya where she worked on payment acceptance products such as PayMaya One most known for its use in McDonalds self order kiosks, and PayMaya QR Scan to Pay. She also worked on cross-cutting concerns of API security one of which is PayMaya Connect used by Facebook for integration with PayMaya on Messenger. At the core, she is a distributed systems engineer with over 6 years of fintech and consulting experience.</p>
      <p>She champions domain driven design and clean architecture as foundations for producing high-performing and maintainable microservices. Besides technical excellence, she also enjoys dabbling with the business side of things -- winning business and pitching competitions IdeaSpace 2016 and Mobile Competition Asia Pacific Manila, Hawaii, and Barcelona.</p>
      </p>
    </div>
    <div class="topic-container">
      <h2>Jenny Anne Hans</h2>
      <h3>Women Leading their Technical Team</h3>
    </div>
    <div class="topic-container">
      <h2>Regina Lim</h2>
      <h3>Women Leading their Technical Team</h3>
    </div>
  </div>
</section>


<% include 2018-partials/techsummit/footer %>
<% include 2018-partials/global/scripts %>
