<% include 2018-partials/techsummit/head %>
<% include 2018-partials/techsummit/ts-navbar %>

<section class="jumbotron">
  <div class="container">
    <h1>
      Women Who Code Manila
      <strong>Tech Summit 2018</strong>
    </h1>
    <h2>Learn from Filipinas in the tech industry and level up your career.</h2>
    <br>
    <button class="btn btn-more">Know More</button>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="/2018/techsummit/img/coding.png" />
        <h3>Improve Coding Skills</h3>
        <p>Learning about best practices, new technologies, and level up your career</p>
      </div>
      <div class="col text-center">
        <img src="/2018/techsummit/img/networking.png" />
        <h3>Local Speakers</h3>
        <p>Learn straight from Filipinas in the tech industry</p>
      </div>
      <div class="col text-center">
        <img src="/2018/techsummit/img/stats.png" />
        <h3>Interact & Connect</h3>
        <p>Participate in activities and meet new people</p>
      </div>
      <div class="col text-center">
        <img src="/2018/techsummit/img/cooperation.png" />
        <h3>Community-Driven</h3>
        <p>Designed to help everyone in the community excel in their careers</p>
      </div>
    </div>
  </div>
</section>

<% include 2018-partials/global/footer %>
<% include 2018-partials/global/scripts %>
