<% include 2018-partials/techsummit/head %>
<% include 2018-partials/techsummit/ts-navbar %>

<section class="jumbotron">
    <div class="container">
      <h1>
        Women Who Code Manila
        <strong>Tech Summit 2018</strong>
      </h1>
      <h2>Learn from Filipinas in the tech industry and level up your career.</h2>
      <br>
      <button class="btn btn-more">Know More</button>
    </div>
</section>

<% include 2018-partials/global/footer %>
<% include 2018-partials/global/scripts %>
