<div class="footer">
    <div class="container">
        <h4 class="text-center"><a href="#">Back to top</a></h4>
    </div>
	<div class="container">
		<a href="coc" target="_blank" rel="noopener noreferrer">Code of Conduct</a> | <a href="https://opencollective.com/wwcodemanila#donate" target="_blank" rel="noopener noreferrer">Donate</a> | <a href="https://manila.womenwhocode.com/2017/hackathon" target="_blank" rel="noopener noreferrer">WWCodeManila Hackathon</a>
		<p>&copy; 2018 | Women Who Code Manila</p>
	</div>
</div>