<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		
    	<!-- To make it responsive in mobile devices, do disable scaling add: user-scalable=no -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Her 2.0</title>
		<meta name="description" content="Her 2.0 | Capable. Confident. Courageous."/>

		<!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="Her 2.0 | Capable. Confident. Courageous.">
		<meta itemprop="description" content="Her 2.0 | Capable. Confident. Courageous. March 24, 2018 at Accenture, Philippines, Uptown Mall">

		<meta itemprop="image" content="https://manila.womenwhocode.com/2018/her2point0/img/social-media.jpg">

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@wwcodemanila">
		<meta name="twitter:title" content="Her 2.0 | Capable. Confident. Courageous.">
		<meta name="twitter:description" content="Her 2.0 | Capable. Confident. Courageous. March 24, 2018 at Accenture, Philippines, Uptown Mall">
		<meta name="twitter:creator" content="@wwcodemanila">
		<meta name="twitter:image" content="https://manila.womenwhocode.com/2018/her2point0/img/social-media.jpg">

		<!-- Open Graph data -->
		<meta property="og:title" content="Her 2.0 | Capable. Confident. Courageous." />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://manila.womenwhocode.com/" />
		<meta property="og:image" content="https://manila.womenwhocode.com/2018/her2point0/img/social-media.jpg" />	
		<meta property="og:description" content="Her 2.0 | Capable. Confident. Courageous. March 24, 2018 at Accenture, Philippines, Uptown Mall" /> 

		<meta property="og:site_name" content="Her 2.0 | Capable. Confident. Courageous." />
		<meta property="fb:admins" content="1218432011601153" />

		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="2018/her2point0/style.css">
	
	</head>