<div class="footer">
  <div class="container">
    <ul class="list-unstyled footer-links">
      <li class="d-sm-inline mx-0">
        <a
          href="https://opencollective.com/wwcodemanila#donate"
          target="_blank"
          rel="noopener noreferrer"
          >Donate</a
        >
      </li>
      <li class="d-sm-inline mx-0">
        <a href="/2018/Her-2-point-0" target="_blank" rel="noopener noreferrer"
          >Her 2.0</a
        >
      </li>
      <li class="d-sm-inline mx-0">
        <a href="/2017/hackathon" target="_blank" rel="noopener noreferrer"
          >WWCodeManila Hackathon</a
        >
      </li>
      <li class="d-sm-inline mx-0">
        <a
          href="https://wwcodemanila.github.io/WWCodeManila-WomenWhoWP2018/"
          target="_blank"
          rel="noopener noreferrer"
          >Women Who WordPress 2018</a
        >
      </li>
    </ul>
    <br />
    <p>Copyright &copy; 2018 - Women Who Code Manila</p>
  </div>
</div>
