<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/Global/WWCodeManila-Logo.png" height="75px "alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link mr-auto" href="/topcis">Topics</a>
      <a class="nav-item nav-link mr-auto" href="http://www.womenwhocode.com/codeofconduct" target="_blank">Code of Conduct</a>

      <a class="nav-item nav-link mr-auto btn-techsummit" href="https://wwcodemanilatechsummit2018.eventbrite.com" target="_blank"><span>Get Tickets</span></a>
    </div>
  </div>
</nav>
