<section class="hero">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-8-desktop is-10-tablet is-12-mobile">
        <img
          src="/2020/her4point0/img/jumbotron-bg-img.png"
          alt="Her 4.0: Own It!"
        />
        <h2 class="subtitle has-text-centered">
          March 14, 2020 <br />
          Manulife Business Processing Service, Quezon City
        </h2>
        <p class="has-text-centered"><% include ./rsvp%></p>
      </div>
    </div>
  </div>
</section>
