<section class="hero banner is-medium">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-8-desktop is-10-tablet is-12-mobile">
        <img
          class="center"
          src="/2020/her4point0/img/wwcode-manila-logo.png"
          width="10%"
        />

        <h1 class="subtitle banner-subtitle is-size-2">HER 4.0</h1>
        <h3 class="title banner-title">Own It!</h3>

        <h2 class="subtitle has-text-white">
          March 14, 2020 <br />
          Manulife Business Processing Service, Quezon City
        </h2>
        <br />
        <p class="has-text-left">
          <% include ./rsvp%>
        </p>
      </div>
    </div>
  </div>
</section>
