<footer class="footer">
  <div class="columns is-centered">
    <div
      class="column is-8-desktop is-10-tablet is-12-mobile content has-text-centered"
    >
      <div class="footer-links">
        <a href="#">Back to Top</a>

        <a href="http://www.womenwhocode.com/codeofconduct" target="_blank"
          >Code of Conduct</a
        >

        <a
          href="https://opencollective.com/wwcodemanila#donate"
          target="_blank"
          rel="noopener noreferrer"
          >Donate</a
        >
      </div>

      <p class="help">
        &copy; <%= new Date().getFullYear() %> • Women Who Code Manila
      </p>
    </div>
  </div>
</footer>
