<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/Global/WWCodeManila-Logo.png" height="75px " alt="" />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="menu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="#map">Location</a>
      </div>
      <div class="navbar-item">
        <a href="http://www.womenwhocode.com/codeofconduct" target="_blank"
          >Code of Conduct</a
        >
      </div>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <% include ./rsvp %>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
