<div class="hero has-background-primary">
  <div class="hero-body has-text-centered">
    <h1 class="title has-text-white">Supported by</h1>
    <% supporters.forEach((supporter) => { %>
    <a href="<%= supporter.url %>" target="_blank" rel="noopener noreferrer"
      ><img
        src="<%= supporter.imageURL %> "
        height="50px"
        alt="<%=  supporter.name %>"
    /></a>
    <h3><%= supporter.type %></h3>
    <% }) %>
  </div>
</div>
<div class="hero has-background-secondary">
  <div class="hero-body has-text-centered">
    <h1 class="has-text-teal">Interested to support the event? </h1>
    <br>
    <h4 class="has-text-teal">Send us an email at <a href="mailto:manila@womenwhocode.com?Subject=Inquiry%20to%20support%20Her%204.0" target="_blank"
          >manila@womenwhocode.com.</a><br>
    Thank you so much.
    </h4>
  </div>
</div>
